---
import '../styles/global.css';
import Header from '../components/header';
import Concepts from '../components/concepts';
import Hero from '../components/hero';
import About from '../components/about';
import Services from '../components/services'
import Video from '../components/video'

import Footer from '../components/footer';


// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
// console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <Header />
    <Hero />
    <Concepts  client:only="react" />
    <About />
    <Services />

    <Video />
    <Footer />
  </body>
</html>